<?xml version='1.0' encoding='utf-8'?>
<Configuration>
  <Database>
    <ConnectionString>Data Source=mydatabasejp-NLB-b505df893138d5e6.elb.ap-northeast-1.amazonaws.com;Initial Catalog=PSM_V6_NET;User ID=admin;Password=Sapassword1;TrustServerCertificate=true</ConnectionString>

  </Database>
	
	<Kintone>
		<BaseUrl>https://vk5k755s9nir.cybozu.com/k/v1/</BaseUrl>
		<AppId>203</AppId>
		<ApiToken>clYsh32YLyQryGcHH8t4F8hkyIhOuEL67YBuyuvU</ApiToken>
		<BasicPassword>YS1uaXNoaXp1a2ExMzU1OjEzNTVuaXNoaS5Rd2Vy</BasicPassword>
	</Kintone>
	
</Configuration>

